body
{
   color: #000000;
   font-family: Arial;
   font-weight: normal;
   font-size: 13px;
   line-height: 1.1875;
   margin: 0;
   padding: 0;
}
body:after
{
   background-color: #FFFFFF;
   content: "";
   height: 100vh;
   left: 0;
   position: fixed;
   right: 0;
   top: 0;
   z-index: -1;
}
#preloader
{
   background: #FFFFFF url("../images/ring-spinner.gif") no-repeat center center;
   bottom: 0;
   position: fixed;
   top: 0;
   width: 100%;
   z-index: 99999;
}
#wb_header
{
   clear: both;
   position: fixed;
   left: 0;
   top: 0;
   z-index: 7777;
   table-layout: fixed;
   display: table;
   text-align: center;
   width: 100%;
   background-color: #FFFFFF;
   background-image: none;
   border: 0px solid #CCCCCC;
   box-sizing: border-box;
   margin: 0;
   box-shadow: 0px 4px 8px rgba(0,0,0,0.19);
}
#header
{
   box-sizing: border-box;
   display: -webkit-flex;
   display: flex;
   -webkit-flex-direction: row;
   flex-direction: row;
   -webkit-flex-wrap: wrap;
   flex-wrap: wrap;
   padding: 0;
   margin-right: auto;
   margin-left: auto;
   max-width: 1024px;
}
#header > .col-1, #header > .col-2
{
   box-sizing: border-box;
   font-size: 0px;
   min-height: 1px;
   padding-right: 15px;
   padding-left: 15px;
   position: relative;
}
#header > .col-1, #header > .col-2
{
   -webkit-flex: 0 0 auto;
   flex: 0 0 auto;
}
#header > .col-1
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #FFFFFF;
   flex-basis: 33.33333333%;
   max-width: 33.33333333%;
   -webkit-align-self: center;
   align-self: center;
   -webkit-justify-content: flex-start;
   justify-content: flex-start;
   text-align: left;
}
#header > .col-2
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #FFFFFF;
   flex-basis: 66.66666667%;
   max-width: 66.66666667%;
   -webkit-align-self: flex-start;
   align-self: flex-start;
   -webkit-justify-content: flex-end;
   justify-content: flex-end;
   text-align: right;
}
@media (max-width: 480px)
{
#header > .col-1, #header > .col-2
{
   -webkit-flex-basis: 100% !important;
   flex-basis: 100% !important;
   max-width: 100% !important;
}
}
#wb_welcome
{
   clear: both;
   position: relative;
   table-layout: fixed;
   display: table;
   text-align: center;
   width: 100%;
   background-color: #16409F;
   background-image: none;
   border: 0px solid #CCCCCC;
   box-sizing: border-box;
   margin: 50px 0px 0px 0px;
}
#welcome
{
   box-sizing: border-box;
   padding: 40px 15px 20px 15px;
   margin-right: auto;
   margin-left: auto;
   max-width: 500px;
}
#welcome > .row
{
   margin-right: -15px;
   margin-left: -15px;
}
#welcome > .row > .col-1
{
   box-sizing: border-box;
   font-size: 0px;
   min-height: 1px;
   padding-right: 15px;
   padding-left: 15px;
   position: relative;
}
#welcome > .row > .col-1
{
   float: left;
   height: 34px;
}
#welcome > .row > .col-1
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #FFFFFF;
   width: 100%;
   text-align: center;
}
#welcome:before,
#welcome:after,
#welcome .row:before,
#welcome .row:after
{
   display: table;
   content: " ";
}
#welcome:after,
#welcome .row:after
{
   clear: both;
}
@media (max-width: 480px)
{
#welcome > .row > .col-1
{
   float: none;
   width: 100% !important;
   height: auto;
}
}
#wb_about
{
   clear: both;
   position: relative;
   table-layout: fixed;
   display: table;
   text-align: center;
   width: 100%;
   background-color: transparent;
   background-image: none;
   border: 0px solid #CCCCCC;
   box-sizing: border-box;
   margin: 0;
}
#about
{
   box-sizing: border-box;
   padding: 100px 15px 75px 15px;
   margin-right: auto;
   margin-left: auto;
   max-width: 1024px;
}
#about > .row
{
   margin-right: -15px;
   margin-left: -15px;
}
#about > .row > .col-1
{
   box-sizing: border-box;
   font-size: 0px;
   min-height: 1px;
   padding-right: 15px;
   padding-left: 15px;
   position: relative;
}
#about > .row > .col-1
{
   float: left;
}
#about > .row > .col-1
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #FFFFFF;
   width: 100%;
   text-align: center;
}
#about:before,
#about:after,
#about .row:before,
#about .row:after
{
   display: table;
   content: " ";
}
#about:after,
#about .row:after
{
   clear: both;
}
@media (max-width: 480px)
{
#about > .row > .col-1
{
   float: none;
   width: 100% !important;
}
}
#wb_links
{
   clear: both;
   position: relative;
   table-layout: fixed;
   display: table;
   text-align: center;
   width: 100%;
   background-color: rgba(25,35,154,0.94);
   background-image: none;
   border: 0px solid #CCCCCC;
   box-sizing: border-box;
   margin: 0;
}
#links
{
   box-sizing: border-box;
   padding: 100px 15px 75px 15px;
   margin-right: auto;
   margin-left: auto;
   max-width: 1024px;
}
#links > .row
{
   margin-right: -15px;
   margin-left: -15px;
}
#links > .row > .col-1, #links > .row > .col-2, #links > .row > .col-3
{
   box-sizing: border-box;
   font-size: 0px;
   min-height: 1px;
   padding-right: 15px;
   padding-left: 15px;
   position: relative;
}
#links > .row > .col-1, #links > .row > .col-2, #links > .row > .col-3
{
   float: left;
}
#links > .row > .col-1
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #FFFFFF;
   width: 33.33333333%;
   text-align: left;
}
#links > .row > .col-2
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #FFFFFF;
   width: 33.33333333%;
   text-align: left;
}
#links > .row > .col-3
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #FFFFFF;
   width: 33.33333333%;
   text-align: left;
}
#links:before,
#links:after,
#links .row:before,
#links .row:after
{
   display: table;
   content: " ";
}
#links:after,
#links .row:after
{
   clear: both;
}
@media (max-width: 480px)
{
#links > .row > .col-1, #links > .row > .col-2, #links > .row > .col-3
{
   float: none;
   width: 100%;
}
}
#links-divider-top
{
   overflow: hidden;
   position: absolute;
   top: 0;
   width: 100%;
   height: 60px;
   line-height: 0;
   left: 0;
   transform: scaleY(-1.0);
}
#links-divider-top svg
{
   display: block;
   width: 100%;
   height: 100%;
   position: relative;
   left: 50%;
   transform: translateX(-50%); 
}
#links-divider-top .divider-fill
{
   fill: #FFFFFF;
   transform-origin: center;
   transform: rotateY(0deg);
}
#wb_footer
{
   background-color: rgba(25,35,154,0.94);
   background-image: none;
   border: 0px solid #1F2328;
   box-sizing: border-box;
   position: relative;
}
#footer
{
   display: -webkit-flex;
   display: flex;
   position: relative;
   padding: 25px 25px 25px 25px;
   -webkit-flex-direction: row;
   flex-direction: row;
   -webkit-flex-wrap: wrap;
   flex-wrap: wrap;
   -webkit-justify-content: flex-start;
   justify-content: flex-start;
   -webkit-align-items: center;
   align-items: center;
   -webkit-align-content: flex-start;
   align-content: flex-start;
   margin-top: 0px;
   margin-bottom: 0px;
   margin-right: auto;
   margin-left: auto;
   max-width: 1024px;
   box-sizing: border-box;
   font-size: 0px;
}
#wb_footerText 
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #000000;
   -webkit-flex-grow: 1;
   flex-grow: 1;
   -webkit-flex-shrink: 1;
   flex-shrink: 1;
   -webkit-align-self: stretch;
   align-self: stretch;
   padding: 10px 10px 10px 10px;
   margin: 0;
   text-align: center;
}
#wb_footerText
{
   color: #FFFFFF;
   font-family: Arial;
   font-weight: normal;
   font-size: 16px;
   line-height: 18px;
}
#wb_footerText p, #wb_footerText ul
{
   margin: 0;
   padding: 0;
}
#wb_linksIcon1
{
   background-color: #007BFF;
   background-image: none;
   border: 0px solid #FFFFFF;
   border-radius: 2px;
   text-align: center;
   margin: 0px 10px 0px 0px;
   padding: 6px 6px 6px 6px;
   vertical-align: top;
   display:inline-block;
   position:relative;
}
#wb_linksIcon1:hover
{
   background-color: #00428A;
   background-image: none;
   border: 0px solid #FFFFFF;
}
#linksIcon1
{
   height: 28px;
   width: 28px;
}
#linksIcon1 i
{
   color: #FFFFFF;
   display: inline-block;
   font-size: 28px;
   line-height: 28px;
   vertical-align: middle;
   width: 15px;
}
#wb_linksIcon1:hover i
{
   color: #FFFFFF;
}
#wb_linksIcon2
{
   background-color: #007BFF;
   background-image: none;
   border: 0px solid #FFFFFF;
   border-radius: 2px;
   text-align: center;
   margin: 0px 10px 0px 0px;
   padding: 6px 6px 6px 6px;
   vertical-align: top;
   display:inline-block;
   position:relative;
}
#wb_linksIcon2:hover
{
   background-color: #00428A;
   background-image: none;
   border: 0px solid #FFFFFF;
}
#linksIcon2
{
   height: 28px;
   width: 28px;
}
#linksIcon2 i
{
   color: #FFFFFF;
   display: inline-block;
   font-size: 28px;
   line-height: 28px;
   vertical-align: middle;
   width: 23px;
}
#wb_linksIcon2:hover i
{
   color: #FFFFFF;
}
#wb_linksIcon3
{
   background-color: #007BFF;
   background-image: none;
   border: 0px solid #FFFFFF;
   border-radius: 2px;
   text-align: center;
   margin: 0px 10px 0px 0px;
   padding: 6px 6px 6px 6px;
   vertical-align: top;
   display:inline-block;
   position:relative;
}
#wb_linksIcon3:hover
{
   background-color: #00428A;
   background-image: none;
   border: 0px solid #FFFFFF;
}
#linksIcon3
{
   height: 28px;
   width: 28px;
}
#linksIcon3 i
{
   color: #FFFFFF;
   display: inline-block;
   font-size: 28px;
   line-height: 28px;
   vertical-align: middle;
   width: 23px;
}
#wb_linksIcon3:hover i
{
   color: #FFFFFF;
}
#wb_linksText1 
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #000000;
   padding: 0px 0px 8px 0px;
   margin: 0;
   text-align: left;
}
#wb_linksText1
{
   color: #FFFFFF;
   font-family: Arial;
   font-weight: normal;
   font-size: 17px;
   line-height: 20px;
}
#wb_linksText1 p, #wb_linksText1 ul
{
   margin: 0;
   padding: 0;
}
#wb_linksMenu1
{
   border: 0px solid #C0C0C0;
   background-color: transparent;
   margin: 0;
   text-align: left;
}
#wb_linksMenu1 ul
{
   list-style-type: none;
   margin: 0;
   padding: 0;
   width: 100%;
}
#wb_linksMenu1 li
{
   float: left;
   margin: 0;
   padding: 0px 0px 0px 0px;
   width: 100%;
}
#wb_linksMenu1 a
{
   display: block;
   color: #ECF5FF;
   border: 0px solid #CCCCCC;
   background-color: transparent;
   background-image: none;
   font-family: Arial;
   font-weight: normal;
   font-size: 13px;
   font-style: normal;
   text-decoration: none;
   width: 100%;
   height: 25px;
   padding: 0px 0px 0px 0px;
   vertical-align: middle;
   line-height: 25px;
   text-align: left;
}
#wb_linksMenu1 li:hover a, #wb_linksMenu1 a:hover
{
   color: #FFFFFF;
   background-color: transparent;
   background-image: none;
   border: 0px solid #2E6DA4;
}
#wb_linksMenu1 .firstmain a
{
   margin-top: 0px;
}
#wb_linksMenu1 li.lastmain
{
   padding-bottom: 0px;
}
#wb_linksMenu1 br
{
   clear: both;
   font-size: 1px;
   height: 0;
   line-height: 0;
}
#wb_linksText2 
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #000000;
   padding: 0px 0px 8px 0px;
   margin: 0;
   text-align: left;
}
#wb_linksText2
{
   color: #FFFFFF;
   font-family: Arial;
   font-weight: normal;
   font-size: 17px;
   line-height: 20px;
}
#wb_linksText2 p, #wb_linksText2 ul
{
   margin: 0;
   padding: 0;
}
#wb_linksMenu2
{
   border: 0px solid #C0C0C0;
   background-color: transparent;
   margin: 0;
   text-align: left;
}
#wb_linksMenu2 ul
{
   list-style-type: none;
   margin: 0;
   padding: 0;
   width: 100%;
}
#wb_linksMenu2 li
{
   float: left;
   margin: 0;
   padding: 0px 0px 0px 0px;
   width: 100%;
}
#wb_linksMenu2 a
{
   display: block;
   color: #ECF5FF;
   border: 0px solid #CCCCCC;
   background-color: transparent;
   background-image: none;
   font-family: Arial;
   font-weight: normal;
   font-size: 13px;
   font-style: normal;
   text-decoration: none;
   width: 100%;
   height: 25px;
   padding: 0px 0px 0px 0px;
   vertical-align: middle;
   line-height: 25px;
   text-align: left;
}
#wb_linksMenu2 li:hover a, #wb_linksMenu2 a:hover
{
   color: #FFFFFF;
   background-color: transparent;
   background-image: none;
   border: 0px solid #2E6DA4;
}
#wb_linksMenu2 .firstmain a
{
   margin-top: 0px;
}
#wb_linksMenu2 li.lastmain
{
   padding-bottom: 0px;
}
#wb_linksMenu2 br
{
   clear: both;
   font-size: 1px;
   height: 0;
   line-height: 0;
}
#wb_linksText3 
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #000000;
   padding: 0px 0px 8px 0px;
   margin: 0;
   text-align: left;
}
#wb_linksText3
{
   color: #FFFFFF;
   font-family: Arial;
   font-weight: normal;
   font-size: 17px;
   line-height: 20px;
}
#wb_linksText3 p, #wb_linksText3 ul
{
   margin: 0;
   padding: 0;
}
#wb_linksMenu3
{
   border: 0px solid #C0C0C0;
   background-color: transparent;
   margin: 0;
   text-align: left;
}
#wb_linksMenu3 ul
{
   list-style-type: none;
   margin: 0;
   padding: 0;
   width: 100%;
}
#wb_linksMenu3 li
{
   float: left;
   margin: 0;
   padding: 0px 0px 0px 0px;
   width: 100%;
}
#wb_linksMenu3 a
{
   display: block;
   color: #ECF5FF;
   border: 0px solid #CCCCCC;
   background-color: transparent;
   background-image: none;
   font-family: Arial;
   font-weight: normal;
   font-size: 13px;
   font-style: normal;
   text-decoration: none;
   width: 100%;
   height: 25px;
   padding: 0px 0px 0px 0px;
   vertical-align: middle;
   line-height: 25px;
   text-align: left;
}
#wb_linksMenu3 li:hover a, #wb_linksMenu3 a:hover
{
   color: #FFFFFF;
   background-color: transparent;
   background-image: none;
   border: 0px solid #2E6DA4;
}
#wb_linksMenu3 .firstmain a
{
   margin-top: 0px;
}
#wb_linksMenu3 li.lastmain
{
   padding-bottom: 0px;
}
#wb_linksMenu3 br
{
   clear: both;
   font-size: 1px;
   height: 0;
   line-height: 0;
}
.headerMenu .hide 
{
   display: none!important;
}
.headerMenu .show 
{
   display: block!important;
}
.headerMenu .hidden
{
   display: none!important;
   visibility: hidden!important;
}
.headerMenu .nav
{
   font-family: Arial;
   font-weight: normal;
   font-size: 13px;
   font-style: normal;
   color: #3A6DA4;
   text-align: left;
}
#headerMenu, .headerMenu .nav, .headerMenu *
{
   margin: 0;
   padding: 0;
   box-sizing: border-box;
   line-height: 1;
   list-style: none;
}
.headerMenu .nav:before,
.headerMenu .nav:after 
{
   content: " ";
   display: table;
}
.headerMenu .nav:after 
{
   clear: both;
}
.headerMenu .nav a 
{
   text-decoration: none;
}
.headerMenu .nav ul
{
   margin-top: 0;
   margin-bottom: 10px;
}
.headerMenu .nav ul ul
{
   margin-bottom: 0;
}
.headerMenu .container 
{
   margin-right: auto;
   margin-left: auto;
   padding: 0;
}
.headerMenu .container:before,
.headerMenu .container:after 
{
   content: " ";
   display: table;
}
.headerMenu .container:after 
{
   clear: both;
}
.headerMenu .collapse 
{
   display: none;
}
.headerMenu .collapse.in 
{
   display: block;
}
.headerMenu .collapsing 
{
   position: relative;
   height: 0;
   overflow: hidden;
   -webkit-transition: height .35s ease;
   transition: height .35s ease;
}
.headerMenu .caret 
{
   display: inline-block;
   width: 0;
   height: 0;
   margin-left: 4px;
   vertical-align: middle;
   border-top: 4px solid #000;
   border-right: 4px solid transparent;
   border-left: 4px solid transparent;
   border-bottom: 0 dotted;
}
.headerMenu .dropdown 
{
   position: relative;
}
.headerMenu .dropdown-toggle:focus 
{
   outline: 0;
}
.headerMenu .dropdown-menu 
{
   position: absolute;
   top: 100%;
   left: 0;
   z-index: 1000;
   display: none;
   float: left;
   min-width: 160px;
   padding: 5px 0;
   margin: 2px 0 0;
   list-style: none;
   font-size: 13px;
   background-color: transparent;
   background-image: none;
   border: 1px solid rgba(197,197,197,1.00);
   border-radius: 0px;
   background-clip: padding-box;
}
.headerMenu .dropdown-menu .divider 
{
   height: 1px;
   margin: 9px 0;
   overflow: hidden;
   background-color: #C5C5C5;
}
.headerMenu .dropdown-menu>li>a 
{
   display: block;
   padding: 3px 20px 3px 20px;
   clear: both;
   line-height: 1.428571429;
   color: #3A6DA4;
   white-space: nowrap;
}
.headerMenu .dropdown-menu>li>a:hover,
.headerMenu .dropdown-menu>li>a:focus 
{
   text-decoration: none;
   color: #007BFF;
   background-color: transparent;
   background-image: none;
}
.headerMenu .dropdown-menu>.active>a,
.headerMenu .dropdown-menu>.active>a:hover,
.headerMenu .dropdown-menu>.active>a:focus 
{
   color: #fff;
   text-decoration: none;
   outline: 0;
   background-color: #343A40;
}
.headerMenu .open>.dropdown-menu 
{
   display: block;
}
.headerMenu .open>a 
{
   outline: 0;
}
.headerMenu .dropdown-header 
{
   display: block;
   padding: 3px 20px;
   line-height: 1.428571429;
   color: #aeaeae;
}
.headerMenu .dropdown-backdrop 
{
   position: fixed;
   left: 0;
   right: 0;
   bottom: 0;
   top: 0;
   z-index: 990;
}
.headerMenu .nav>li 
{
   position: relative;
   display: block;
}
.headerMenu .nav>li>a 
{
   position: relative;
   display: block;
   padding: 16px 15px 16px 15px;
}
.headerMenu .nav .open>a,
.headerMenu .nav .open>a:hover,
.headerMenu .nav .open>a:focus 
{
   background-color: #ccc;
   border-color: #343A40;
}
.headerMenu .nav .nav-divider 
{
   height: 1px;
   margin: 9px 0;
   overflow: hidden;
   background-color: #C5C5C5;
}
.headerMenu .nav>li>a>img 
{
   max-width: none;
}
.headerMenu .nav .caret 
{
   border-top-color: #343A40;
   border-bottom-color: #343A40;
}
.headerMenu
{
   position: relative;
   border: 1px solid transparent;
   background-color: transparent;
   background-image: none;
}
.headerMenu:before,
.headerMenu:after 
{
   content: " ";
   display: table;
}
.headerMenu:after 
{
   clear: both;
}
.headerMenu .navbar-header:before,
.headerMenu .navbar-header:after 
{
   content: " ";
   display: table;
}
.headerMenu .navbar-header:after 
{
   clear: both;
}
.headerMenu-navbar-collapse 
{
   overflow-x: visible;
   -webkit-overflow-scrolling: touch;
}
.headerMenu-navbar-collapse:before,
.headerMenu-navbar-collapse:after 
{
   content: " ";
   display: table;
}
.headerMenu-navbar-collapse:after 
{
   clear: both;
}
.headerMenu-navbar-collapse.in 
{
   overflow-y: auto;
}
.headerMenu .navbar-toggle 
{
   position: relative;
   float: right;
   padding: 15px 10px 14px 10px;
   background-color: transparent;
   border: 1px solid transparent;
   border-radius: 0px;
}
.headerMenu .navbar-toggle .icon-bar 
{
   display: block;
   width: 22px;
   height: 2px;
   border-radius: 1px;
}
.headerMenu .navbar-toggle .icon-bar+.icon-bar 
{
   margin-top: 4px;
}
.headerMenu .navbar-nav 
{
   margin: 6px -15px;
}
.headerMenu .navbar-nav>li>.dropdown-menu 
{
   margin-top: 0;
}
.headerMenu .navbar-nav>li>a 
{
   color: #3A6DA4;
}
.headerMenu .navbar-nav>li>a:hover,
.headerMenu .navbar-nav>li>a:focus 
{
   background-color: transparent;
   background-image: none;
   color: #007BFF;
   text-decoration: none;
}
.headerMenu .navbar-nav>.active>a,
.headerMenu .navbar-nav>.active>a:hover,
.headerMenu .navbar-nav>.active>a:focus 
{
   color: #007BFF;
   background-color: transparent;
   background-image: none;
}
.headerMenu .navbar-toggle 
{
   border: 1px solid rgba(43,43,43,0.10);
}
.headerMenu .navbar-toggle:hover,
.headerMenu .navbar-toggle:focus 
{
   background-color: transparent;
}
.headerMenu .navbar-toggle .icon-bar 
{
   background-color: #6D6D6D;
}
.headerMenu-navbar-collapse
{
   border-color: rgba(197,197,197,1.00);
}
.headerMenu .navbar-nav>.dropdown>a:hover .caret,
.headerMenu .navbar-nav>.dropdown>a:focus .caret 
{
   border-top-color: #007BFF;
   border-bottom-color: #007BFF;
}
.headerMenu .navbar-nav>.open>a,
.headerMenu .navbar-nav>.open>a:hover,
.headerMenu .navbar-nav>.open>a:focus 
{
   background-color: transparent;
   background-image: none;
   color: #007BFF;
}
.headerMenu .navbar-nav>.open>a .caret,
.headerMenu .navbar-nav>.open>a:hover .caret,
.headerMenu .navbar-nav>.open>a:focus .caret 
{
   border-top-color: #007BFF;
   border-bottom-color: #007BFF;
}
.headerMenu .navbar-nav>.dropdown>a .caret 
{
   border-top-color: #3A6DA4;
   border-bottom-color: #3A6DA4;
}
.headerMenu .navbar-link 
{
   color: #3A6DA4;
}
.headerMenu .navbar-link:hover 
{
   color: #007BFF;
}
.headerMenu .navbar-header
{
   color: #6D6D6D;
   height: 47px;
}
@media (min-width: 480px) 
{
.headerMenu .navbar-right .dropdown-menu 
{
   right: 0;
   left: auto;
}
.headerMenu .navbar-header 
{
   float: left;
}
.headerMenu-navbar-collapse 
{
   width: auto;
   border-top: 0;
   box-shadow: none;
}
.headerMenu-navbar-collapse.collapse 
{
   display: block!important;
   height: auto!important;
   padding-bottom: 0;
   overflow: visible!important;
}
.headerMenu-navbar-collapse.in 
{
   overflow-y: auto;
}
.headerMenu .navbar-toggle
{
   display: none;
}
.headerMenu .navbar-nav 
{
   float: right;
   margin: 0;
}
.headerMenu .navbar-nav>li 
{
   float: left;
}
.headerMenu .container>.navbar-header,
.headerMenu .container>.headerMenu-navbar-collapse 
{
   margin-right: 0;
   margin-left: 0;
}
.headerMenu .navbar-nav>.dropdown>a:hover .caret,
.headerMenu .navbar-nav>.dropdown>a:focus .caret 
{
   border-top-color: #007BFF;
   border-bottom-color: #007BFF;
}
}
@media (max-width: 480px) 
{
.headerMenu 
{
   border-color: rgba(255,255,255,0.00);
}
.headerMenu .navbar-nav 
{
   margin: 0;
   background-color: transparent;
   background-image: none;
}
.headerMenu .navbar-nav .open .dropdown-menu 
{
   position: static;
   float: none;
   width: auto;
   margin-top: 0;
   background-color: transparent;
   border: 0;
   box-shadow: none;
}
.headerMenu .navbar-nav .open .dropdown-menu>li>a,
.headerMenu .navbar-nav .open .dropdown-menu .dropdown-header 
{
   padding: 5px 15px 5px 25px;
}
.headerMenu .navbar-nav .open .dropdown-menu>li>a 
{
   line-height: 20px;
}
.headerMenu .navbar-nav .open .dropdown-menu>li>a:hover,
.headerMenu .navbar-nav .open .dropdown-menu>li>a:focus 
{
   background-image: none;
}
}
@media (min-width: 480px) 
{
.headerMenu 
{
   background-color: transparent;
   background-image: none;
   border-color: rgba(255,255,255,0.00);
   border-radius: 0px;
}
.headerMenu .navbar-nav>li>a 
{
   color: #6D6D6D;
}
.headerMenu .navbar-nav>li>a:hover,
.headerMenu .navbar-nav>li>a:focus 
{
   color: #007BFF;
   background-color: transparent;
   background-image: none;
}
.headerMenu .navbar-nav>.active>a,
.headerMenu .navbar-nav>.active>a:hover,
.headerMenu .navbar-nav>.active>a:focus 
{
   color: #007BFF;
   background-color: transparent;
   background-image: none;
}
.headerMenu .navbar-nav>.open>a,
.headerMenu .navbar-nav>.open>a:hover,
.headerMenu .navbar-nav>.open>a:focus 
{
   background-color: transparent;
   background-image: none;
   color: #007BFF;
}
.headerMenu .navbar-nav>.dropdown>a:hover .caret 
{
   border-top-color: #007BFF;
   border-bottom-color: #007BFF;
}
.headerMenu .navbar-nav>.dropdown>a .caret
{
   border-top-color: #6D6D6D;
   border-bottom-color: #6D6D6D;
}
.headerMenu .navbar-nav > li.active > a > .caret,
.headerMenu .navbar-nav > li.active > a:hover > .caret,
.headerMenu .navbar-nav > li.active > a:focus > .caret
{
   border-top-color: #007BFF;
   border-bottom-color: #007BFF;
}
.headerMenu .navbar-nav>.open>a .caret,
.headerMenu .navbar-nav>.open>a:hover .caret,
.headerMenu .navbar-nav>.open>a:focus .caret 
{
   border-top-color: #007BFF;
   border-bottom-color: #007BFF;
}
.headerMenu .navbar-link 
{
   color: #6D6D6D;
}
.headerMenu .navbar-link:hover 
{
   color: #fff;
}
}
#headerMenu i
{
   font-size: 16px;
   position: relative;
   left: 0;
   top: 0;
   margin-right: 4px;
   width: 16px;
}
#headerButton
{
   border-top-width: 0px;
   border-right-width: 0px;
   border-bottom-width: 0px;
   border-left-width: 0px;
   border-top-style: solid;
   border-right-style: solid;
   border-bottom-style: solid;
   border-left-style: solid;
   border-top-color: #000000;
   border-right-color: #000000;
   border-bottom-color: #000000;
   border-left-color: #000000;
   border-top-left-radius: 0px;
   border-top-right-radius: 22px;
   border-bottom-right-radius: 0px;
   border-bottom-left-radius: 22px;
   background-color: #16409F;
   background-image: none;
   color: #FFFFFF;
   font-family: Arial;
   font-weight: bold;
   font-size: 13px;
   margin: 0;
}
#wb_Text1 
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #000000;
   padding: 0;
   margin: 0;
   text-align: center;
}
#wb_Text1
{
   color: #FFFFFF;
   font-family: Montserrat;
   font-weight: normal;
   font-size: 35px;
   line-height: 42px;
}
#wb_Text1 p, #wb_Text1 ul
{
   margin: 0;
   padding: 0;
}
